# Увеличить громкость звука
"chvol +"
   XF86AudioRaiseVolume
# Уменьшить громкость звука
"chvol -"
   XF86AudioLowerVolume
# Отключить звук
"chvol m"
   XF86AudioMute
# Увеличить яркость
"chbrt inc"
   XF86MonBrightnessUp
# Уменьшить яркость
"chbrt dec"
   XF86MonBrightnessDown
# Переключить состояние микрофона
"chmic"
   XF86AudioMicMute
# Поймаем языка?
"pkill -SIGRTMIN+7 dwmblocks"
   Mod4 + space
